.contact-form__status{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  &.status--ok{
    color: $info;
  }

  &.status--fail{
    color: $danger;
  }

  img {
    margin-bottom: 2em;
  }
}